.p-afterfollow{
    width: 1200px;
    height: 506px;
    margin: 0 auto;
    margin-top: 36px;
    background-color: #ffffff;
    &__title{
        font-size: 38px;
        padding-top: 47px;
        padding-bottom: 67px;
    }
}