/*
.before_after {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 38px;
}
@media screen and (max-width: 750px) {
  .img-hidden {
    display: none;
  }
  .before_after {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;
    > div {
      > img {
        width: 90vw;
      }
    }
  }
}
*/

.before_after {
  display: flex;
  flex-wrap: wrap;
  div {
    width: calc(590 / 1200 * 100%);
    margin-right: calc(20 / 1200 * 100%);
    
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    
    @media screen and (max-width: 750px) {
      width: 100%;
      margin-right: 0;
    }
    
    img {
      width: 100%;
    }
  }
}





