.p-compare{
    height: 652px;
    background-color: #f6f3f1;
    text-align: center;
    &__catch{
        padding-top: 57px;
        &--main-catch{
            font-size: 40px;
        }
        &--topic{
            font-size: 60px;
        }
    }
    &__case{
        width: 1200px;
        margin: 0 auto;
        text-align: left;
        font-size: 30px;
    }
    &__description{
        align-items: center;
        width: 1200px;
        margin: 0 auto;
        &--child{

            text-align: left;
        }
    }
}