.p-counseling {
  &.first {
    display: block;
    & .p-counseling--main{
      @include sp {
        display: none;
      }
    }
    & .p-counseling__btn-area{
      @include sp {
        display: none;
      }
    }
    &-sp {
      display: none;
      @include sp {
        display: block;
        position: fixed;
        bottom: -10%;
        z-index: 100;
        border: none;
        opacity: 0;
        width: 100vw;
        transition: bottom 0.5s, opacity 0.5s;
        padding: 10px 0;
        &.fadein {
          bottom: 0;
          opacity: 1;
        }
      }
      > .p-counseling--main {
        padding-top: 0;
        &-text {
          font-weight: bold;
          color: #a28b76;
        }
      }
      > .p-counseling__btn-area {
        padding-top: 0;
        padding-bottom: 5px;
        > .p-counseling__btn-area--btn {
          margin-top: 2vw;
          color: #f2fcff;
          background-color: #e94d84;
          padding: 2vw 10vw 2vw 5vw;
          position: relative;
          cursor: pointer;
          &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 2vw 0 2vw 3.25vw;
            border-color: transparent transparent transparent #ffffff;
            top: 31.5%;
            right: 5.5%;
          }
        }
      }
    }
  }
  text-align: center;
  background: repeating-linear-gradient(120deg, #50d5f1, #50d5f1 20px, #68dbf3 20px, #68dbf3 40px);
  font-size: 30px;
  font-family: "Hiragino Sans";
  &__comic {
    background-color: #f3fdff;
    padding: 80px 0;
    > div{
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      > img{
        margin: 10px;
        width: 45%;
      }
      > img:nth-of-type(2){
        height: 99%;
      }
    }
  }
  &--main {
    padding-top: 33px;
    &-text {
      font-weight: bold;
      color: #e94d84;
      font-family: Hiragino Maru Gothic ProN W4,ヒラギノ丸ゴ ProN W4;
    }
  }
  &__btn-area {
    padding-top: 34px;
    padding-bottom: 54px;
    &--btn {
      margin-right: 30px;
      color: #f2fcff;
      background-color: #e94d84;
      padding: 27px 93px 28px 65px;
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 10.4px;
        border-color: transparent transparent transparent #ffffff;
        top: 42%;
        right: 11%;
      }
    }
    > p{
      margin-top: 40px;
      font-size: 24px;
      line-height: 26px;
      font-weight: normal;
    }
  }
}
.p-after-counseling {
  background-color: #f6f3f1;
  text-align: center;
  &__title {
    padding-top: 130px;
    padding-bottom: 34px;
    font-size: 60px;
    font-family: serif;
  }
  &__br {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .p-counseling {
    border-top: 6px solid #50d5f1;
    border-bottom: 6px solid #50d5f1;
    font-size: 4vw;
    background: repeating-linear-gradient(120deg, #50d5f1, #50d5f1 10px, #68dbf3 10px, #68dbf3 20px);
    &--main {
      padding-top: 33px;
    }
    &__btn-area {
      padding-top: 3vw;
      padding-bottom: 7vw;
      &--btn {
        display: inline-block;
        margin-right: 0;
        color: #f2fcff;
        background-color: #e94d84;
        padding: 3vw 15vw 3vw 13vw;
        position: relative;
        cursor: pointer;
      }
      > p{
        margin-top: 2vw;
        font-size: 3vw;
        line-height: 1;
      }
    }
    &__comic {
      padding: 30px 0;
      > div{
        > img{
          margin: 8px;
        }
      }
    }
    
    &__comic-sp {
      max-width: 100%;
      padding: 20px;
      
      img {
        max-width: 100%;
      }
    }
  }

  .p-after-counseling {
    background-color: #f6f3f1;
    text-align: center;
    &__title {
      padding-top: 11vw;
      padding-bottom: 6.5vw;
      font-size: 10vw;
      font-family: serif;
    }
    &__br {
      display: block;
    }
  }
}
