.footer {
  height: 80px;
  font-size: 20px;
  background-color: #a28b76;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  @include sp {
    height: 400px;
    justify-content: flex-start;
    padding-top: 40px;
  }
}
