.footer {
  height: 80px;
  font-size: 20px;
  background-color: #50d5f1;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  @include sp {
    height: 51vw;
    justify-content: flex-start;
    padding-top: 5vw;
    font-size: 4vw;
  }
}
