// ベース色
$color-key: #ffffff;
$color-accent: #e65100;
$color-background: #fff;
$color-text: #424242;
$color-text--thin: #757575;

// インナー幅
$inner-width-pc: 1000px;

// メディアクエリー
@mixin sp {
	@media screen and (max-width: 767px) {
		@content;
	}
}

@mixin pcmini {
	@media screen and (max-width: 1024px) {
		@content;
	}
}