.p-graph {
  height: 1017px;
  background-color: #fefefe;
  &__backgrpund {
    width: auto;
    object-fit: cover;
    object-position: 0% 0%;
    position: relative;
    display: block;
    width: 100%;
  }
  &__area {
    position: relative;
    top: 0;
    &--text {
      position: absolute;
      text-align: center;
      top: 69px;
      left: 399px;
      font-size: 24.01px;
      line-height: 2;
      display: block;
      &-sp {
        display: none;
      }
    }

    &--img {
      margin-top: 33px;
      background-color: #ffffff;
      > img {
        margin: 20px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .p-graph {
    height: 100%;
    background-color: #fefefe;
    &__backgrpund {
      width: 100%;
      object-fit: none;
      object-position: 0% 0%;
      position: relative;
      display: none;
    }
    &__area {
      position: relative;
      top: 0;
      &--text {
        display: none;
        &-sp {
          position: relative;
          text-align: center;
          top: 0;
          left: 0;
          padding: 30px 0;
          font-size: 4vw;
          line-height: 1.5;
          display: block;
        }
      }

      &--img {
        margin: 50px 60px 40px 40px;
        background-color: #ffffff;
        > img {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}
