$course-width: 1024px;
.p-graph {
  background-color: #e6fbff;
  text-align: center;
  padding: 50px 0;
  &__inner{
    max-width: $course-width;
    margin: 0 auto;
  }
  &__title{
    font-size: 60px;
    color: #50d5f1;
    font-family: Hiragino Maru Gothic ProN W4,ヒラギノ丸ゴ ProN W4;
    margin-bottom: 20px;
  }
  &__table{
    margin: 0 auto;
    font-size: 25.6px;
    line-height: 42.67px;
    width: 100%;
    & th{
      background-color: #50d5f1;
      color: #fff;
      padding: 20px 0;
    }
    & td{
      background-color: #efefef;
      color: #5c5c5c;
      padding: 25px 0;
      font-weight: bold;
    }
    & td.pink{
      background-color: #ffeaf1;
      color: #fe6999;
    }
    & td span.tax{
      font-size: 17.07px;
    }
    &--title{
      & .pink{
        background-color: #fe6999;
      }
      & .gray{
        background-color: #565656;
      }
    }
  }
  &__textright{
    font-size: 20.48px;
    text-align: right;
    margin-top: 10px;
  }
  & .sp_newline{
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .p-graph {
    padding: 50px 10px;
    &__title{
      font-size: 7vw;
      margin-bottom: 20px;
    }
    &__table{
      font-size: 3.5vw;
      line-height: 1.5;
      width: 100%;
      & th{
        padding: 20px 0;
      }
      & td span.tax{
        font-size: 2.5vw;
      }
    }
    &__textright{
      font-size: 3vw;
      margin-top: 10px;
    }
    & .sp_newline{
      display: block;
    }
  }
}
