.p-info {
  height: 820px;
  text-align: center;
  &__title {
    font-size: 60px;
    padding-top: 110px;
  }
  &__contents {
    margin: 39px 448px 126px 448px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    &--table {
      > table {
        border-collapse: collapse;
        border: 2px #acacac solid;
      }
      &--header {
        height: 87px;
        width: 120px;
        border: 2px #acacac solid;
      }
      &--data {
        width: 512px;
        border: 2px #acacac solid;
        margin-left: 21px;
        margin-right: 31px;
      }
    }
  }
}
