.p-measures {
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 69px;
  &__covid {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    background-color: #fff;
    border: 2px solid #fe6999;
  }
  &__title {
    padding: 20px 20px;
    margin: 0 auto;
    & th{
      width: 15%;
    }
    & td{
      width: 85%;
    }
  }
  &__info {
    font-size: 16px;
    color: #fe6999;
    &--area {
      padding-left: 26px;
      display: block;
      &-sp {
        display: none;
      }
    }
    &-sp {
      display: none;
    }
    &--covid {
      font-size: 24px;
      color: #a28b76;
      font-family: serif;
      font-weight: bold;
    }
  }
  &__items {
    //width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  &__item {
    width: 190px;
    height: 90px;
    border: 1px solid #a28b76;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    display: grid;
    place-items: center;
  }
  &__area {
    padding-top: 15px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 750px) {
  .p-measures {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    &__covid {
      padding: 5px 10px 20px;
    }
    &__title {
      padding: 10px;
      margin: 0 auto;
      &--icon {
        width: 10vw;
      }
      & th{
        width: 100%;
      }
      & td{
        width: 0%;
      }
    }
    &__info {
      font-size: 3.5vw;
      color: #000000;
      &--area {
        display: none;
        &-sp {
          display: block;
        }
      }
      &-sp {
        display: block;
        font-size: 3.5vw;
        color: #fe6999;
        padding: 0px 10px;
        text-align: justify;
      }
      &--covid {
        font-size: 3.5vw;
        color: #a28b76;
        font-family: serif;
        font-weight: bold;
      }
    }
    &__items {
      //width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      column-gap: 21px;
      row-gap: 20px;
      flex-wrap: wrap;
      padding-bottom: 7vw;
      padding-top: 6vw;
    }
    &__item {
      width: 35vw;
      height: 23vw;
      border: 1px solid #a28b76;
      background-color: #ffffff;
      border-radius: 10px;
      text-align: center;
      font-size: 3.5vw;
      display: grid;
      place-items: center;
    }
    &__area {
      padding-top: 15px;
      margin: 0 auto;
    }
  }
}
