.p-message {
  font-size: 40px;
  text-align: center;
  color: #50d5f1;
  font-weight: bold;
  &__first {
    padding: 70px 0;
    & .p-message__text{
      display: inline-block;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 60%;
        background-color: #faff6d;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
  &__text {
    display: block;
    &-sp {
      display: none;
    }
  }
}

@media screen and (max-width: 750px) {
  .p-message {
    font-size: 5vw;
    line-height: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    &__first {
      display: block;
      padding: 0 0 40px;
      & .p-message__text{
        display: none;
      }
      & .p-message__text-sp{
        display: inline-block;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 40%;
          background-color: #faff6d;
          bottom: 2vw;
          left: 0;
          z-index: -1;
        }
      }
    }
    &__text {
      display: none;
      &--caution {
        display: none;
      }
      &-sp {
        display: block;
        &--caution {
          font-family: sans-serif;
          font-weight: lighter;
          display: block;
          position: absolute;
          text-align: left;
          bottom: 15%;
          right: 3%;
          font-size: 2.5vw;
          color: #000000;
        }
      }
    }
  }
}
