.p-message{
    font-size: 40px;
    text-align:center;
    &__first{
        height: 220px;
        background-color: #fff1f6; 
    }
    &__second{
        margin-top: 88px;
        height: 238px;
        background-color: #fff1f6;
    }
}