.p-motto {
  height: 504px;
  background-color: black;
  position: relative;
  text-align: center;
  &__img {
    //position: relative;
    display: block;
    height: 504px;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    //object-position: top 30px ;
  }
  &__img-text {
    position: absolute;
    width: 908px;
    height: 85px;
    top: 0;
    left: 50%;
    text-align: center;
    background: linear-gradient(
      to right,
      rgba($color: #ffffff, $alpha: 0) 0%,
      rgba($color: #ffffff, $alpha: 0.5) 10%,
      rgba($color: #ffffff, $alpha: 0.5) 90%,
      rgba($color: #ffffff, $alpha: 0) 100%
    ); //rgba($color: #ffffff, $alpha: 0.7);
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 39.18px;
    color: #e94d84;
    font-family: serif;
    font-weight: bold;
  }
  &__arrow {
    height: 17px;
    width: 40px;
    background-color: #e94d84;
    position: relative;
    //margin-top: 20px;
    display: inline-block;
    top: -5px;
    margin-right: 60px;
    margin-left: 30px;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 18.5px 0 18.5px 32px;
      border-color: transparent transparent transparent #e94d84;
      position: absolute;
      top: -60%;
      left: 100%;
    }
  }
  &__content {
    position: absolute;
    left: 25%;
    bottom: 69px;
    &--text {
      font-size: 40px;
      text-align: center;
      color: #ffffff;
      font-family: serif;
      display: block;
      &-sp {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .p-motto {
    height: 100vw;
    background-color: black;
    position: relative;
    text-align: center;
    &__img {
      //position: relative;
      display: block;
      height: 100%;
      width: 100%;
      object-fit: none;
      opacity: 0.6;
      //object-position: top 30px ;
    }
    &__img-text {
      position: absolute;
      width: 100%;
      height: 85px;
      top: 5%;
      left: 50%;
      text-align: center;
      background: linear-gradient(
        to right,
        rgba($color: #ffffff, $alpha: 0.2) 0%,
        rgba($color: #ffffff, $alpha: 0.6) 10%,
        rgba($color: #ffffff, $alpha: 0.6) 90%,
        rgba($color: #ffffff, $alpha: 0.2) 100%
      ); //rgba($color: #ffffff, $alpha: 0.7);
      transform: translate(-50%, 50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__title {
      font-size: 5.5vw;
      color: #e94d84;
      font-family: serif;
      font-weight: bold;
    }
    &__arrow {
      height: 3vw;
      width: 6vw;
      background-color: #e94d84;
      position: relative;
      //margin-top: 20px;
      display: inline-block;
      top: -5px;
      margin-right: 8vw;
      margin-left: 4vw;
      &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 3vw 0 3vw 4.5vw;
        border-color: transparent transparent transparent #e94d84;
        position: absolute;
        top: -1.4vw;
        left: 5vw;
      }
    }
    &__content {
      position: absolute;
      left: 50%;
      bottom: 40%;
      transform: translate(-50%, 50%);
      width: 100%;
      &--text {
        display: none;
        &-sp {
          width: 100%;
          font-size: 6vw;
          text-align: center;
          color: #ffffff;
          font-family: serif;
          display: block;
          line-height: 1.5;
        }
      }
    }
  }
}
