.p-price{
    height: 2985px;
    background-color: #fff1f6;
    text-align: center;
    &__title{
        font-size: 60px;
        padding-top: 120px;
        padding-bottom: 67px;
    }
    &__area{
        width: 1200px;
        height: 2098px;
        margin-top: 67px;
        background-color: #ffffff;
        margin: 0 auto;
    }
    &__join{
        &--text{
            font-size: 60px;
            padding-top: 92px;
        }
        &--number{
            font-size: 120px;
            color: #e94d84;
        }
        &--yen{
            font-size: 40px;
            color: #e94d84;
        }
    }
}