.p-question {
  background-color: #ffffff;
  text-align: center;
  &__br {
    display: block;
  }
  &__title {
    font-family: Hiragino Maru Gothic ProN W4,ヒラギノ丸ゴ ProN W4;
    background-color: #50d5f1;
    color: #fff;
    font-size: 60px;
    padding: 10px 0;
    max-width: 1200px;
    margin: 80px auto 40px;
  }
  &__area {
    margin: 0 360px;
    margin-bottom: 132px;
  }
  &__items {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    justify-content: center;
  }
  &__item {
    width: 580px;
    border: 1px solid #50d5f1;

    &--Q {
      font-size: 30px;
      font-family: "Arial", "メイリオ";
      margin: 0 20px;
    }
    &--A {
      font-size: 30px;
      font-family: "Arial", "メイリオ";
      margin: 17px 20px 17px 20px;
      color: #a28b76;
    }
    &--header {
      height: 60px;
      background-color: #50d5f1;
      font-size: 16px;
      color: #ffffff;
      display: flex;
      align-items: center;
      text-align: left;
    }
    &--content {
      font-size: 16px;
      display: flex;
      &--text {
        color: #000000;
        font-size: 16px;
        margin-top: 17px;
        margin-bottom: 23px;
        margin-right: 16px;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .p-question {
    &__br {
      display: none;
    }
    &__title {
      font-size: 9vw;
      margin-top: 0;
      margin-bottom: 7vw;
    }
    &__area {
      margin: 0 auto;
      margin-bottom: 50px;
      padding: 0 20px;
    }
    &__items {
      display: flex;
      column-gap: 30px;
      row-gap: 30px;
      grid-template-columns: 1fr 1fr;
      flex-direction: column;
      align-content: center;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
    }
    &__item {
      width: 100%;
      &--Q {
        font-size: 5.5vw;
        font-family: "Arial", "メイリオ";
        margin: 0 20px;
        padding-right: 10px;
      }
      &--A {
        font-size: 5.5vw;
        font-family: "Arial", "メイリオ";
        margin: 17px 20px 17px 20px;
        padding-right: 10px;
      }
      &--header {
        height: 80px;
        font-size: 14px;
        color: #ffffff;
        display: flex;
        align-items: center;
        text-align: left;
        padding-right: 20px;
      }
      &--content {
        font-size: 16px;
        display: flex;
        &--text {
          color: #000000;
          font-size: 14px;
          margin-top: 10px;
          margin-bottom: 30px;
          margin-right: 16px;
          text-align: left;
          padding-right: 20px;
        }
      }
    }
  }
}
